.furigana-plugin {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    flex-direction: column-reverse;
    line-height: 140% !important;
}

.furigana-plugin > .furigana-plugin-kanji {
    font-size: 100%;
}

.furigana-plugin > .furigana-plugin-furigana {
    font-size: 40%;
    line-height: 80%;
}

td, th {
    line-height: 140% !important;
    vertical-align: middle !important;
}

td .furigana-plugin, th .furigana-plugin {
}
